<mat-card fxFlex>
  <mat-card-title>
    <h4>New Departament</h4>
  </mat-card-title>
  <mat-card-content>

    <div fxLayout="row" fxLayoutAlign="space-between strech">
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Departament name" [(ngModel)]="depName">
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" (click)="save()">Save</button>
    <button mat-button color="accent" (click)="clear()">Clear</button>
  </mat-card-actions>

</mat-card>
