<mat-tab-group>
  <mat-tab label="New Departament">
    <app-departament-form></app-departament-form>
  </mat-tab>
  <mat-tab label="New Products">
    <app-product-form></app-product-form>
  </mat-tab>
  <mat-tab label="Products">
    <app-products-table></app-products-table>
  </mat-tab>
</mat-tab-group>